attrs
aws-sam-translator
boto3
botocore
cfn-lint
docutils
importlib-metadata
importlib-resources
jmespath
jsonpatch
jsonpointer
jsonschema
pathspec
pyrsistent
python-dateutil
PyYAML
s3transfer
six
urllib3
yamllint
zipp
